## Aggregation ( Has a relationship )

one class owns other class

In [ ]:
class Customer:
  def __init__(self, name, gender, address):
    self.name = name
    self.gender = gender
    self.address = address


  def print_address(self):
    print(self.address.city, self.address.pin, self.address.state)


class Address:
  def __init__(self, city, pin, state):
    self.city = city
    self.pin = pin
    self.state = state


adds = Address("Karnataka", 454545, "bengaluru")
cus = Customer("Bappy", "Male", adds)
cus.print_address()

Karnataka 454545 bengaluru

- non private attribute
 - non private methods

In [ ]:
class Customer:
  def __init__(self, name, gender, address):
    self.name = name
    self.gender = gender
    self.address = address


  def print_address(self):
    print(self.address.__city, self.address.pin, self.address.state)


class Address:
  def __init__(self, city, pin, state):
    self.__city = city
    self.pin = pin
    self.state = state


adds = Address("Karnataka", 454545, "bengaluru")
cus = Customer("Bappy", "Male", adds)
cus.print_address()

AttributeError: 'Address' object has no attribute '_Customer__city'

In [ ]:
class Customer:
  def __init__(self, name, gender, address):
    self.name = name
    self.gender = gender
    self.address = address


  def print_address(self):
    print(self.address.get_city(), self.address.pin, self.address.state)


class Address:
  def __init__(self, city, pin, state):
    self.__city = city
    self.pin = pin
    self.state = state


  def get_city(self):
    return self.__city


adds = Address("Karnataka", 454545, "bengaluru")
cus = Customer("Bappy", "Male", adds)
cus.print_address()

Karnataka 454545 bengaluru

In [ ]:
class Customer:
  def __init__(self, name, gender, address):
    self.name = name
    self.gender = gender
    self.address = address


  def print_address(self):
    print(self.address._Address__city, self.address.pin, self.address.state)


class Address:
  def __init__(self, city, pin, state):
    self.__city = city
    self.pin = pin
    self.state = state


  def get_city(self):
    return self.__city


adds = Address("Karnataka", 454545, "bengaluru")
cus = Customer("Bappy", "Male", adds)
cus.print_address()

Karnataka 454545 bengaluru

## Inheritance

- non private attribute
- non private methods

In [ ]:

# Parent
class User:
  def __init__(self):
    self.name = "Bappy"
    self.gender = "Male"

  def login(self):
    print("Login Done!")


#child
class Student(User):
  def __init__(self):
    self.rollno = 100


  def enroll(self):
    print("Enrolled into the course")



S = Student()
S.login()
S.enroll()
# S.name
S.rollno

Login Done!
Enrolled into the course

100

In [ ]:

# Parent
class User:
  def __init__(self):
    self.name = "Bappy"
    self.gender = "Male"

  def login(self):
    print("Login Done!")


#child
class Student(User):
  # def __init__(self):
  #   self.name = "Sunny"


  def enroll(self):
    print("Enrolled into the course")



S = Student()
S.login()
S.enroll()
S.name

Login Done!
Enrolled into the course

'Bappy'

In [ ]:
class Phone:
  def __init__(self, price, brand, camera):
    self.price = price
    self.brand = brand
    self.camera = camera


  def buy(self):
    print("Buying a Phone")


class SmartPhone(Phone):
  pass

S  = SmartPhone(200000, "apple", 3)
S.buy()

Buying a Phone

In [ ]:
class Phone:
  def __init__(self, price, brand, camera):
    print("Inside Phone constructor")
    self.price = price
    self.brand = brand
    self.camera = camera


  def buy(self):
    print("Buying a Phone")


class SmartPhone(Phone):
  def __init__(self, os, ram):
    self.os = os
    self.ram = ram
    print("Inside SmartPhone constructor")


S  = SmartPhone("Android", 8)
S.brand

Inside SmartPhone constructor

AttributeError: 'SmartPhone' object has no attribute 'brand'

In [ ]:
class Phone:
  def __init__(self, price, brand, camera):
    print("Inside Phone constructor")
    self.__price = price
    self.brand = brand
    self.camera = camera


  def buy(self):
    print("Buying a Phone")


  def get_price(self):
    return self.__price


class SmartPhone(Phone):
  def check(self):
    print(self.get_price())


S  = SmartPhone(200000, "apple", 3)
S.check()

Inside Phone constructor
200000

In [ ]:
class Parent:

    def __init__(self,num):
        self.__num=num

    def get_num(self):
        return self.__num

class Child(Parent):

    def show(self):
        print("This is in child class")

son=Child(100)
print(son.get_num())
son.show()

100
This is in child class

In [ ]:
class Parent:

    def __init__(self,num):
        self.__num=num

    def get_num(self):
        return self.__num

class Child(Parent):

    def __init__(self,val,num):
        self.__val=val

    def get_val(self):
        return self.__val

son=Child(100,10)
print("Parent: Num:",son.get_num())
print("Child: Val:",son.get_val())

AttributeError: 'Child' object has no attribute '_Parent__num'