In [ ]:
# Write a program to take two numbers from user and add and subtract them.

# WAP :- Write a program

In [1]:
a = input('enter first number') # Take input as a string
b = input('enter first number')

enter first number 5
enter first number 10

In [2]:
a,b

('5', '10')

In [3]:
print(a+b)

510

In [4]:
print(a-b)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [5]:
a = int(input('enter first number')) # Take input as a string
b = int(input('enter first number'))

enter first number 5 10

ValueError: invalid literal for int() with base 10: '5 10'

In [6]:
first = input("give first Number")
second = input("give second Number")

give first Number 5 10
give second Number

In [8]:
first,second

('5 10', '')

In [10]:
first.split()

['5', '10']

In [11]:
first2 = input("give number in one line")

give number in one line 5@6@7

In [12]:
first2

'5@6@7'

In [19]:
c,d,e = first2.split('@')

In [20]:
c,d,e

('5', '6', '7')

In [21]:
c,d = first2.split('@')

ValueError: too many values to unpack (expected 2)

In [15]:
a=int(input("enter 1st num"))      
b=int(input("enter 2nd num"))    
sum=a+b     
print(sum)

enter 1st num 5
enter 2nd num 10

15

In [17]:
a = int(input("Enter the A value"))
b = int(input("Enter the  B value"))
add_part=int(a+b)
print("Sum of two number = ",add_part,'\n')

Enter the A value 5
Enter the  B value 10

Sum of two number =  15

In [18]:
a = int(input())
b = int(input())
print(a+b)

 5
 10

15

# WAP to take input from user his age,name and marks and show output as 

1. name in opposite direction ( reversed)
2. age as how many years left in turning 100
3. marks as how much are they out of 100 ( percentage )

In [28]:
a = input()
b = int(input())
c = int(input())

print(a[::-1])
print(100-b)
print(c/100)

 mayank
 5
 15

knayam
95
0.15

In [30]:
print("age out of 100 is " + str(b))

age out of 100 is 5


# Format Specifier

In [32]:
name = "mayank"
age = 15

In [35]:
print("name is %s and age is %d" %(name,age))

name is mayank and age is 15

In [36]:
print("name is %s and age is %d" %(name))

TypeError: not enough arguments for format string

In [37]:
print("name is %s and age is %s" %(name,age))

name is mayank and age is 15

In [38]:
print("name is %d and age is %d" %(name,age))

TypeError: %d format: a real number is required, not str

In [39]:
decNumber = 5.66463264

In [40]:
print("number is %d" %(decNumber))

number is 5

In [41]:
print("number is %f" %(decNumber))

number is 5.664633

In [42]:
print("number is %s" %(decNumber))

number is 5.66463264

In [44]:
print("number is %0.3f" %(decNumber))

number is 5.665

# Format Argument

In [45]:
print("my name is {} and age is {}".format(name,age))

my name is mayank and age is 15

In [46]:
print("my name is {0} and age is {1}".format(name,age))

my name is mayank and age is 15

In [47]:
print("my name is {0} and age is {0}".format(name,age))

my name is mayank and age is mayank

In [49]:
print("my name is {} and age is {0}".format(name,age)) # either all empty or all full

ValueError: cannot switch from automatic field numbering to manual field specification

In [50]:
print("my name is {0} and age is {1}".format(name,))

IndexError: Replacement index 1 out of range for positional args tuple

In [51]:
print("my name is {name} and age is {age}".format(name= name,age= age))

my name is mayank and age is 15

In [52]:
print("my name is {a} and age is {b}".format(a= name,b= age))

my name is mayank and age is 15