In [1]:
a = 5
b= 10
add = a+b

In [2]:
print(add)

15

In [3]:
print("The result is " + add)

TypeError: can only concatenate str (not "int") to str

In [4]:
print("The result is " + str(add))

The result is 15

In [5]:
a1 = " mayank"
a2 = "9531"
a3 = 45
a4 = 95
a5 = 9.6432

In [6]:
print(" THe name is " + str(a1) + " the number is " + (a2))

 THe name is  mayank the number is 9531

In [7]:
print(" THe name is " + (a3) + " the number is " + (a2))

TypeError: can only concatenate str (not "int") to str

In [12]:
print( "The name is %s and the age is %d and marks are %f and %i" %(a1,a3,a5,a4))

The name is  mayank and the age is 45 and marks are 9.643200 and 95

In [13]:
print( "The name is %s and the age is %d and marks are %f and %i" %(a1,a1,a1,a1))

TypeError: %d format: a real number is required, not str

In [14]:
print( "The name is %s and the age is %d and marks are %f and %i" %(a1,a3,a5))

TypeError: not enough arguments for format string

In [35]:
print( "The name is %s and the age is %d and marks are %0.2f and %i" %(a1,a3,a5,a5))

The name is  mayank and the age is 45 and marks are 9.64 and 9

In [39]:
decimalNum = 3.32451

In [40]:
print(" the number is %f" %(decimalNum))

 the number is 3.324510

In [41]:
print(" the number is %0.2f" %(decimalNum))

 the number is 3.32

# .format method

In [15]:
print(" The name is {a1} and the age is {a3} and marks are {a5} and {a4}".format(a1=a1,a3=a3,a5=a5,a4=a4))

 The name is  mayank and the age is 45 and marks are 9.6432 and 95

In [22]:
print(" The name is {name} and the age is {age} and marks are {marks1} and {marks2}".format(name=a1,age=a3,marks1=a5,marks2=a4))

 The name is  mayank and the age is 45 and marks are 9.6432 and 95

In [20]:
print(" The name is {0} and the age is {1} and marks are {2} and {3}".format(a1,a3,a5))

IndexError: Replacement index 3 out of range for positional args tuple

In [21]:
print(" The name is {0} and the age is {1} and marks are {2} and {2}".format(a1,a3,a5))

 The name is  mayank and the age is 45 and marks are 9.6432 and 9.6432

In [24]:
print(" The name is {} and the age is {} and marks are {} and {}".format(a1,a3,a5,a4))

 The name is  mayank and the age is 45 and marks are 9.6432 and 95

In [25]:
print(" The name is {} and the age is {} and marks are {} and {}".format(a1,a1,a1,a1))

 The name is  mayank and the age is  mayank and marks are  mayank and  mayank

In [26]:
print(" The name is {} and the age is {} and marks are {} and {}".format(a1,a1,a1))

IndexError: Replacement index 3 out of range for positional args tuple

In [28]:
print(" The name is {} and the age is {} and marks are {} and {}".format(a1,a1,a1,a5,a1))

 The name is  mayank and the age is  mayank and marks are  mayank and 9.6432

# F-Format

In [30]:
a1 = " mayank"
a2 = "9531"
a3 = 45
a4 = 95
a5 = 9.6432

In [47]:
print(f"The name is {a1} and the age is {a2} and marks are {a5:0.2f} and {a4}")

The name is  mayank and the age is 9531 and marks are 9.64 and 95

In [32]:
print(f"The name is {a1} and the age is {a1} and marks are {a1} and {a2}")

The name is  mayank and the age is  mayank and marks are  mayank and 9531

In [33]:
print (f" the name is {a10}")

NameError: name 'a10' is not defined

In [42]:
print (f" the name is {a5:.2f}")

 the name is 9.64

In [ ]:
3.3456

3.35

In [43]:
decimalNum = 3.32451

In [45]:
print(f" The number is {decimalNum}")

 The number is 3.32451

In [46]:
print(f" The number is {decimalNum:0.2f}")

 The number is 3.32